*{    
    box-sizing: border-box;
}
.logo{
    text-align: left;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.content{
    display: flex;
    flex-direction: row;
    margin: 1px;
    height: 75vh;
    padding: 1rem;
}
.input-box{
    width: 50%;
    margin: 1px;
    margin: 5px;
    
}
section.result{
    width: 50%;
    height: 75vh;
    align-items: center;
    text-align: center;
    margin: 5px;
    outline: 2px solid gray;
}
.input-tech-stack{
    width: 50%;
    margin: 2px;
}
.btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
a{
    text-decoration: none;
    color: black;
    word-spacing: 10px;
}